Options +FollowSymLinks
RewriteEngine on
RewriteRule ^$ /views/ [L]

Options +SymLinksIfOwnerMatch 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d


Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET,PUT,POST,DELETE"

RewriteRule ^index$ views/index.php?controller=$1 [L,QSA]
RewriteRule ^about$ views/about.php [L,QSA]
RewriteRule ^gears$ views/gears.php [L,QSA]
RewriteRule ^contact$ views/contact.php [L,QSA]
RewriteRule ^process$ php/process.php [L,QSA]
RewriteRule ^project$ views/project.php [L,QSA]
RewriteRule ^service-details$ views/service-details.php [L,QSA]
RewriteRule ^machinery-and-gears$ views/machinery-and-gears.php [L,QSA]
RewriteRule ^css$ css/ [L,QSA]
RewriteRule ^js$ js/ [L,QSA]
RewriteRule ^img$ img/ [L,QSA]



